body{
  margin: 0;
  padding: 0;
  font-family: Cuprum, Arial, sans-serif;
}

.subTitle{
  color: #393E52;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 16px;
  line-height: 29px;
  position: relative;
  padding-left: 60px;
  margin: 0 0 25px;
  &::before{
    content: '';
    width: 50px;
    height: 1px;
    background-color: #00a046;
    position: absolute;
    left: 0;
    top: 14px;
  }
}
.title {
  color: #393E52;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 50px;
  margin: 0 0 65px;
  text-transform: uppercase;
}
.wrapper__big{
  max-width: 1500px;
  box-shadow: 3px 7px 15px 2px rgba(0,0,0,0.15);
  margin: 115px auto;
  background-color: #fff;
  position: relative;
  z-index: 2;
  border-radius: 10px;
}
.wrapper__big > .wrapper{
  padding: 125px 0;
}
.wrapper{
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.text {
  color: #616575;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  line-height: 29px;
  margin: 0 0 20px;
}
.listItem{
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
  color: #616575;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  &::before {
    content: '';
    height: 1px;
    width: 20px;
    background-color: #00a046;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

#back2Top{
  position: fixed;
  bottom: 50px;
  left: 50px;
  display: none;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-size: 13px;
  box-sizing: border-box;
  z-index: 20;
  background: transparent;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #00a046;
  border: 1px solid #00a046;
  &:hover{
    background-color: #00a046;
    color: #fff;
  }
}


.animateTranslate{
  position: relative;
  top: 100px;
  opacity: 0;
  transition: 1s;
}
.animateScale{
  transition: .5s;
  transform: scale(1.2);
}
.animateOpacity{
  opacity: 0;
  transition: 1s;
}
.visible .animateOpacity{
  opacity: 2;
}
.visible .animateTranslate{
  opacity: 1;
  top: 0;
}
.benefits .visible.animateTranslate{
  opacity: 1;
  top: 0;
}
.visible .animateScale{
  transform: scale(1);
}

.slick-arrow{
  border: none;
  font-size: 0;
  cursor: pointer;
  padding: 0;
  width: 17px;
  height: 17px;
  border-left: 4px solid rgba(32, 35, 44, .6);
  border-top: 4px solid rgba(32, 35, 44, .6);
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: -75px;
  transform: translateY(-50%) rotate(-45deg);
  transition: .3s;
  &:focus{
    outline: none;
  }
}
.slick-next{
  left: auto;
  right: -75px;
  transform: translateY(-50%) rotate(135deg);
}
.slick-dots{
  padding: 0;
  margin: 60px 0 0;
  list-style: none;
  display: flex;
  justify-content: center;
  height: 12px;
  width: 100%;
  li{
    margin: 0 10px;
    button{
      border: none;
      font-size: 0;
      cursor: pointer;
      padding: 0;
      height: 9px;
      width: 9px;
      opacity: 0.5;
      background-color: #00a046;
      border-radius: 50%;
      transition: .3s;
      &:focus{
        outline: none;
      }
    }
    &.slick-active{
      button{
        height: 12px;
        width: 12px;
        opacity: 1;
      }
    }
  }
}
.lazy{
  background-position: center!important;
  background-size: cover!important;
}
.loadmore {
  color: #888B97;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.breadcrumbs{
  margin: 0 0 65px;
  padding: 0;
  list-style: none;
  display: flex;
  .breadcrumb__item{
    a{
      text-decoration: none;
      color: rgba(136,139,151, .8);
      font-size: 14px;
      font-family: Cuprum, Arial, sans-serif;
      font-weight: 100;
    }
    a[href]{
      transition: .3s;
      &:hover{
        color: #393E52;
      }
    }
    &:not(:last-child){
      position: relative;
      padding-right: 15px;
      margin-right: 10px;
    }
    &:not(:last-child)::after{
      content: '>';
      width: 6px;
      height: 6px;
      position: absolute;
      right: 0;
      top: 0;
      color: rgba(136,139,151, .8);
    }
    &:last-of-type{
      a{
        color: #393E52;
      }
    }
  }
}
.blog__link{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.wrapper-btn {
  margin-top: 20px;
  position: relative;
  width: 150px;
  height: 40px;
  display: block;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
}
#btn {
  stroke-width: 6px;
  fill: transparent;
  stroke: #00a046;
  stroke-dasharray: 85px, 400px;
  stroke-dashoffset: -220;
  transition: 1s all ease;
  cursor: pointer;
}
#btn-text {
  margin-top: -35px;
  text-align: center;
  button{
    background-color: transparent;
    text-align: center;
    cursor: pointer;
  }
  span{
    position: absolute;
  }
}
#btn-text a ,
#btn-text button {
  color: #515871;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.1em;
}
.wrapper-btn:hover #btn {
  stroke-dasharray: 50px, 0px;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #00a046;
}

@media (max-width: 1200px) {
  .breadcrumbs {
    margin-bottom: 25px ;
  }
}

@media (max-width: 991px) {
  .breadcrumbs{
    display: none;
  }
}

@media (max-width: 1665px) {
  .wrapper__big{
    max-width: none;
    margin: 75px;
  }
  .slick-arrow{
    left: -50px;
  }
  .slick-next{
    left: auto;
    right: -50px;
  }
}
@media (max-width: 1440px) {
  .wrapper__big{
    max-width: none;
    margin: 75px;
    .wrapper{
      margin: 0 75px;
    }
  }
  .wrapper{
    margin: 0 150px;
  }
  #back2Top{
    left: 20px;
    bottom: 30px;
  }
}
@media (max-width: 1200px) {
  .wrapper__big>.wrapper{
    padding: 75px 0;
  }
  .subTitle{
    font-size: 14px;
    margin-bottom: 18px;
  }
  .title{
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 40px;
  }
  .text{
    font-size: 15px;
    line-height: 22px;
  }
}
@media (max-width: 991px) {
  .wrapper__big{
    margin: 0;
    box-shadow: none;
    background-color: transparent;
    .wrapper{
      margin: 0 60px;
    }
  }
  .wrapper{
    margin: 0 60px;
  }
  .slick-arrow{
    left: -20px;
  }
  .slick-next{
    left: auto;
    right: -20px;
  }
  #back2Top{
    height: 40px;
    width: 40px;
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .slick-arrow{
    display: none!important;
  }
}

@media (max-width: 600px) {
  .wrapper__big{
    .wrapper{
      margin: 0 25px;
    }
  }
  .wrapper {
    margin: 0 25px;
  }
}
