.homepage{
  overflow: hidden;
}
.banner{
  height: 500px;
  display: flex;
  align-items: center;
  position: relative;
  .wrapper{
    position: static;
  }
  .banner__content{
    h1{
      color: #393E52;
      font-family: Cuprum, Arial, sans-serif;
      font-size: 80px;
      font-weight: bold;
      line-height: 95px;
      margin: 0 0 60px;
      text-transform: uppercase;
    }
    p{
      color: #393E52;
      font-family: Cuprum, Arial, sans-serif;
      font-size: 24px;
      line-height: 36px;
      margin: 0 0 50px;
      position: relative;
      padding-left: 195px;
      &::before{
        content: '';
        position: absolute;
        height: 5px;
        width: 165px;
        background-color: #00a046;
        left: 0;
        top: 10px;
      }
    }
  }
  .banner__video{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.65);
    video{
      position: absolute;
      z-index: -100;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
    }
  }
}

@media (max-width: 1200px) {
  .banner {
    min-height: 500px;
    .banner__content {
      h1 {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 45px;
      }
      p{
        font-size: 16px;
        line-height: 24px;
        padding-left: 110px;
        &::before{
          height: 3px;
          width: 90px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .banner{
    .banner__video{
      background: linear-gradient(rgba(255,255,255,.65), rgba(255,255,255,.65)), url("../images/banner.jpg") right center no-repeat;
      background-size: cover;
      video{
        display: none;
      }
    }
    .banner__content {
      h1 {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 479px) {
  .banner{
    .banner__content {
      p{
        padding-left: 0;
        &::before{
          display: none;
        }
      }

    }
  }
}
