.categories{
  margin-bottom: 50px;
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    li{
      margin-right: 50px;
      &.active{
        a{
          color: #24B224;
        }
      }
      a{
        text-decoration: none;
        color: #888B97;
        font-family: Cuprum, Arial, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 29px;
        transition: .3s;
        text-transform: uppercase;
        &:hover{
          color: #24B224;
        }
      }
    }
  }
}