.related{
  .wrapper__big>.wrapper{
    padding-top: 75px;
  }
  h5{
    margin: 0 0 25px;
    font-family: Cuprum, Arial, sans-serif;
    font-weight: 300;
    color: #393e52;
    font-size: 28px;
    line-height: 36px;
  }
}
.relatedCase{
  padding: 125px 0;
  h3{
    margin: 0 0 65px;
    font-family: Cuprum, Arial, sans-serif;
    font-weight: 500;
    color: #393e52;
    font-size: 45px;
    line-height: 54px;
    text-transform: uppercase;
  }
}